extends layout.pug

block stylesheets
  link(href='/stylesheets/show.css', rel='stylesheet')

block javascripts
  script.
    window.APP_INFO = !{JSON.stringify(info)};
  script(src='/javascripts/jquery.pailer.js')
  script(src='/javascripts/excanvas.min.js')
  script(src='/javascripts/jquery.pailer.js')
  script(src='/javascripts/jquery.flot.js')
  script(src='/javascripts/jquery.flot.time.js')
  script(src='/javascripts/jquery.flot.navigate.js')
  script(src='/javascripts/app.js')

block content
  .row
    .col-md-6
      h3#app-id
        - let href = `http://${process.env.MARATHON_HOST}${process.env.MARATHON_PORT == '80' || !process.env.MARATHON_PORT ? '' : ':' + process.env.MARATHON_PORT}/ui/#/apps/${encodeURIComponent(appId)}`
        a(href=href)= appId
    .col-md-6
      #usage-time-range.btn-group.pull-right(data-toggle='buttons')
        label.btn.btn-primary.btn-sm.active
          input(type='radio', name='options', autocomplete='off', checked='', value='5')
          |  5 mins
        label.btn.btn-primary.btn-sm
          input(type='radio', name='options', autocomplete='off', checked='', value='15')
          |  15 mins
        label.btn.btn-primary.btn-sm
          input(type='radio', name='options', autocomplete='off', checked='', value='30')
          |  30 mins
        label.btn.btn-primary.btn-sm
          input(type='radio', name='options', autocomplete='off', checked='', value='60')
          |  1 hour
        label.btn.btn-primary.btn-sm
          input(type='radio', name='options', autocomplete='off', checked='', value='1440')
          |  1 day

  .row
    - var types = { cpu: 'CPU', memory: 'Memory', tx: 'Network Transmit', rx: 'Network Receive' }
    each label, type in types
      .col-md-6
        .usage-container(class="usage-type-" + type)
          .usage-type= label
          .usage-placeholder
        .usage-legend

  div
    ul.nav.nav-tabs(role='tablist')
      each meta, index in info
        li(role='presentation', class= index == 0 ? 'active' : '')
          a(href='#std-' + meta.id.replace('.', '-'), role='tab', data-toggle='tab')= meta.id.split('.')[1].split('-')[0]
    .tab-content
      each meta, index in info
        .tab-pane(role='tabpanel', class= index == 0 ? 'active' : '', id="std-" + meta.id.replace('.', '-'))
          .row
            .col-md-6
              .stdwrapper.stdout(id="stdout-" + index)
                .board
                .indicator
            .col-md-6
              .stdwrapper.stderr(id="stderr-" + index)
                .board
                .indicator
